@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
body {
  background-color: #2b3a55;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

#logo {
  max-height: 64px;
}

.title-paragraph {
  font-family: "DM Serif";
}

.hero {
  height: 80vh;
  background-image: url(../assets/img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.span_error_login {
  color: #ce7777;
  font-weight: 400;
  font-size: 13px;
}

#check_validazione {
  text-align: center;
  border-radius: 12px;
  width: 100%;
  display: none;
}

#check_validazione i {
  display: none;
}

#redirectmessage {
  display: none;
}

.text-white b {
  color: #FFDBA4;
}

.text-yellow {
  color: #FFDBA4;
}

.text-pink {
  color: #e8c4c4;
}

.text-red {
  color: #ce7777;
}

.text-highlighted-yellow {
  background-color: #FFDBA4;
}

.text-highlighted-pink {
  background-color: #e8c4c4;
}

.watch_card {
  text-align: center;
  color: white;
  box-shadow: 2px 2px 4px 2px #000000;
  border-radius: 24px;
}

.watch_card-body {
  text-align: center;
  color: white;
  padding: 3rem;
}

.watch_card #day {
  font-size: 40px;
}

.watch_card #dayweek {
  font-size: 50px;
  font-family: Prata;
  color: #FFDBA4;
}

.watch_card #hour {
  font-size: 50px;
  font-family: Prata;
}

.calendar {
  margin-top: -1rem;
  font-size: 20px;
  margin-bottom: 2rem;
}

.calendar span {
  padding: 0.5rem;
}

.giornoattuale {
  color: #FFDBA4;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.watch_card img {
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin-top: -14.5rem;
}

.card-link {
  cursor: pointer;
}

.card-link:hover {
  color: #ce7777;
}

.card-link-iscritto {
  text-decoration: none;
  color: black;
  cursor: not-allowed;
}

.card-link-iscritto:hover {
  color: black;
  text-decoration: none;
}

.bi-chevron-compact-down {
  border-radius: 50px;
  padding: 5px;
}

.div-copy:hover .bi-chevron-compact-down {
  color: #ce7777;
}

.div-copy:hover .bi-chevron-compact-up {
  color: #ce7777;
}

.div-copy {
  color: #495579;
}

.div-copy:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ce7777;
          text-decoration-color: #ce7777;
  cursor: pointer;
}

.card {
  margin: 1rem;
}

.card img {
  width: 18rem;
  margin-left: -0.81rem;
  margin-top: -0.02rem;
}

.cardcampagne {
  margin: auto;
  background-color: white;
  text-align: left;
  border-radius: 24px;
  padding: 1.2rem;
}

.cardcampagne h4 {
  margin-top: 1rem;
  margin-left: 3rem;
}

.buttonsdiv {
  margin-top: 1.8rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.buttonsdiv button {
  margin-right: 0.8rem;
  margin-top: 0.8rem;
}

.buttoncanvas {
  width: 13rem;
  font-family: Poppins, sans-serif;
  padding-top: 0.594rem;
  padding-bottom: 0.594rem;
  padding-left: 1.194rem;
  padding-right: 1.194rem;
  background-color: white;
  border: 1.5px solid #FFDBA4;
  border-radius: 24px;
  cursor: pointer;
}

.buttoncanvas:hover {
  color: #FFDBA4;
}

.buttoncanvasselected {
  width: 13rem;
  font-family: Poppins, sans-serif;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #FFDBA4;
  border: none;
  border-radius: 24px;
  cursor: not-allowed;
}

.cardcampagne-body {
  font-family: Poppins, sans-serif;
  text-align: center;
}

.card-bodycampagne canvas {
  margin: auto;
}

.fontechart {
  font-size: 13px;
  color: #9d9d9d;
}

.fontechart a {
  color: #9d9d9d;
}

.fontechart a:hover {
  color: #495579;
}

.indicearticoli {
  margin-top: 1.4rem;
  list-style-type: none;
}

.indicearticoli li .indice_titolo {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.indicearticoli li span {
  margin-top: 1.4rem;
  list-style-type: none;
}

.indicearticoli li:hover .indice_titolo {
  margin-left: 1rem;
  color: #FFDBA4;
  cursor: pointer;
}

.indice_numero {
  color: #ce7777;
}

.indice_titolo {
  color: white;
}/*# sourceMappingURL=style.css.map */