$violet: #562151;
$vermillion: #9e7660;
$almond: #ffe9ca;
$tulip: #fb8987;
$rajah: #fbb95d;

$yellow: #FFFBEB;
$lightblue: #495579;
$darkblue: #263159;
$navyblue: #2B3A55;
$violet: #251749;
$pastelred: #CE7777;
$pastelpink: #E8C4C4;
$lightpastelpink:#F2E5E5;

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

body {
  background-color: $navyblue;
  // overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
#logo {
  max-height: 64px;
}
.title-paragraph {
  font-family: "DM Serif Display", serif;
}
.hero {
  height: 80vh;
  background-image: url(../assets/img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-img-top-edited{
  width: 300px;
  margin-left: -13px;
  margin-top: -1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card{
  width: 300px;
  margin: 15px;
}
.span_error_login{
  color: $pastelred;
  font-weight: 400;
  font-size: 13px;
}



